{% extends "thunderdome/base.html" %}

{% block title %}
{{ client.name }}
{% endblock %}

{% block content %}
    <h1>{{ client.name }}</h1> 
    rating: {{ client.rating }}<br>
    score: {{ client.score }}<br>
    games: {{ client.games_played.count }}<br>
    Current Version:
    {% if client.embargoed %}
    <font color='red'>{{ client.current_version }} This version does not compile!
    </font>
    {% else %}
    {{ client.current_version }}
    {% endif %}
    <hr>
    {% for game in client.games_played.all %}
      {% include 'thunderdome/single_game_block.html' %}
      <hr>
    {% endfor %}
{% endblock %}
