{% extends "thunderdome/base.html" %}
{% load url from future %}

{% block title %}
ACM SIG-Game MegaMiner Arena (Thunderdome)
{% endblock %}

{% block content %}
<h1>Arena</h1>

<h2>Queue's Eye View</h2>
Game requests in the queue: {{ ready_requests }}<br>
Game requests reserved: {{ running_requests }}<br>

<h2>Database's View</h2>
New Games: {{ new_games }}</br>
Scheduled Games: {{ scheduled_games }}</br>
Running Games: {{ running_games }}</br>
Complete Games: {{ complete_games }}</br>
Failed Games: {{ failed_games }}<br>
Last Game Completed: {{ last }}<br>

<h2>Match Statuses</h2>
{% for match in matches %}
  <a href="{% url 'thunderdome.views.view_match' match_id=match.id %}">{{ match.id }}</a> - {{ match.status }}
  {% if match.status == 'Complete' %}
    <a href="{% url 'thunderdome.views.visualize_match' match_id=match.id %}">visualize</a>
  {% endif %}
  <br>
{% endfor %}

<h2>Node Throughput</h2>
<table border='1'>
<tr>
    <th>Node</th>
    <th>Games Completed</th>
    <th>Games per Hour</th>
    <th>LMT</th>
    <th>Inst. Rate</th>
    <th>Current Game</th>
    <th>Last Update</th>
</tr>
{% for key,value in rates.items %}
<tr><td>{{key}}</td><td></td><td>{{value.rate}}</td><td colspan='3'></td><td>{{value.last_update}}</td></tr>
{% for ref in value.refs %}
<tr>
    <td>\- Ref {{ref.referee_id}}</td>
    <td>{{ref.games_completed}}</td>
    <td>{{ref.compute_rate|floatformat:2}}</td>
    <td>{{ref.last_match_time_pretty}}</td>
    <td>{{ref.instant_rate|floatformat:2}}</td>
    <td>{{ref.current_game}}</td>
    <td>{{ref.last_update}}</td>
{% endfor %}
{% endfor %}
</table>
{% endblock %}
