{% extends "thunderdome/base.html" %}
{% load url from future %}

{% block title %}
ACM SIG-Game MegaMiner Arena (Thunderdome)
{% endblock %}

{% block content %}
<h1>Arena</h1>

<h2>Queue's Eye View</h2>
Game requests in the queue: {{ ready_requests }}<br>
Game requests reserved: {{ running_requests }}<br>

<h2>Database's View</h2>
Scheduled Games: {{ scheduled_games }}</br>
Building Games: {{ building_games }}</br>
Running Games: {{ running_games }}</br>
Complete Games: {{ complete_games }}</br>
Failed Games: {{ failed_games }}<br>
Last Game Completed: {{ last }}<br>

<h2>Match Statuses</h2>
{% for match in matches %}
  <a href="{% url 'thunderdome.views.view_match' match_id=match.id %}">{{ match.id }}</a> - {{ match.status }}
  {% if match.status == 'Complete' %}
    <a href="{% url 'thunderdome.views.visualize_match' match_id=match.id %}">visualize</a>
  {% endif %}
  <br>
{% endfor %}

<h2>Node Throughput</h2>
<table border='1'>
<tr>
    <th>Node</th>
    <th>Started</th>
    <th>Games Completed</th>
    <th>Games per Hour</th>
    <th>Current Game</th>
    <th>Match Status</th>
    <th>Last Update</th>
</tr>
{% for ref in refs %}
<tr>
    <td>{{ref.blaster_id}}/{{ref.referee_id}}</td>
    <td>{{ref.started}}</td>
    <td>{{ref.games_completed}}</td>
    <td>{{ref.compute_rate}}</td>
    <td>{{ref.last_match}}</td>
    <td>{{ref.last_match.status}}</td>
    <td>{{ref.last_update}}</td>
{% endfor %}
</table>
{% endblock %}
