{% extends "thunderdome/base.html" %}

{% block title %}
Scoreboard
{% endblock %}

{% block content %}
    <h1>Scoreboard</h1>
    <table border=1>
      <tr>
	<td align='right'>vs</td>
        {% for client in clients %}
          <td align='center'>
	    {{ client.name }}
	  </td>
        {% endfor %}
      </tr>
      {% for client in clients %}
      <tr>
	<td align='right'>
	  <a href='view_client/{{ client.pk }}'>{{ client.name }}</a>
	</td>
	{% for entry in client.row %}
	  <td align='center'>
	    <a href='matchup/{{ entry.0 }}vs{{ entry.1 }}'>{{ entry.2 }}</a>
	  </td>
	{% endfor %}
      </tr>
      {% endfor %}
    </table>
{% endblock %}
