{% extends "thunderdome/base.html" %}

{% block title %}
ACM SIG-Game MegaMiner Arena (Thunderdome) Clients
{% endblock %}

{% block content %}
<h1>Clients</h1>

<table border="1" style="width:100%">
<tr><b><td>Rating</td><td>Client Name</td><td>Embargoed?</td><td>Embargo Reason</td><td>Missing?</td><td>Last Game Played</td><td>Current Version</td><td>Language</td></b></tr>

{% for client in clients %}
   {% if forloop.counter|divisibleby:2 %}  
      <tr bgcolor="#C6E7FE"><td>{{ client.rating }}</td><td>{{ client.name }}</td><td>{{ client.embargoed }}</td><td>{{ client.embargo_reason }}</td><td>{{client.missing }}</td><td>{{ client.last_game_played }}</td><td>{{ client.current_tag }}</td><td>{{ client.language }}</td></tr>
   {% else %}
      <tr><td>{{ client.rating }}</td><td>{{ client.name }}</td><td>{{ client.embargoed }}</td><td>{{ client.embargo_reason }}</td><td>{{client.missing }}</td><td>{{ client.last_game_played }}</td><td>{{ client.current_tag }}</td><td>{{ client.language }}</td></tr>
   {% endif %}
{% endfor %}
</table>
{% endblock %}
