{% extends "thunderdome/base.html" %}

{% block title %}
ACM SIG-Game MegaMiner Arena (Thunderdome)
{% endblock %}

{% block content %}
<h1>Arena</h1>

<h2>Queue's Eye View</h2>
Game requests in the queue: {{ ready_requests }}<br>
Game requests reserved: {{ running_requests }}<br>

<h2>Database's View</h2>
Scheduled Games: {{ scheduled_games }}</br>
Building Games: {{ building_games }}</br>
Running Games: {{ running_games }}</br>
Complete Games: {{ complete_games }}</br>
Failed Games: {{ failed_games }}<br>
Last Game Completed: {{ last }}<br>

Sanity: {% if sanity %}<font color="green">True</font>{% else %}<font color="red">False</font>{% endif %} </br>

<h2>Match Statuses</h2>
{% for match in matches %}
  <a href="{% url 'thunderdome.views.view_match' match_id=match.id %}">{{ match.id }}</a> - {{ match.status }}
  <a href="google.com">{{ match.id }}</a>
  <br>
{% endfor %}


<h2>Node Throughput</h2>
<table border='1'>
  <th>Node</th>
  <th>Started</th>
  <th>Games Completed</th>
  <th>Games per Hour</th>
  <th>Current Game</th>
  <th>Game Status</th>
  <th>Last Update</th>
  <th>Status</th>
</tr>
{% for ref in refs %}

<tr>
  <td>{{ref.blaster_id}}/{{ref.referee_id}}</td>
  <td>{{ref.started}}</td>
  <td>{{ref.games_done}}</td>
  <td>{{ref.compute_rate}}</td>
  <td>{{ref.last_match}}</td>
  <td>{{ref.last_match.status}}</td>
  <td>{{ref.last_update}}</td>
  {% if ref.dead %}
  <td bgcolor="red"></td>
  {% else %}
  <td bgcolor="green"></td>
  {% endif %}
</tr>
{% endfor %}
</table>

<head>
<meta http-equiv="refresh" content="5">
</head>

{% endblock %}
