{% extends "thunderdome/base.html" %}
{% load url from future %}

{% block title %}
Wakka Wakka play more games!
{% endblock %}

{% block content %}

<table border='1'>
  <th>Client</th>
  <th>Game Ready?</th>
  <th>Game Number</th>
  <th>Location</th>
  <th>Port</th>
</tr>

{% for client in clients %}

<tr>
  <td>{{ client.0.name }}</td>
  <td>{{ client.1.game_ready }}</td>
  <td>{{ client.1.game_number }}</td>
  <td>{{ client.1.game_location }}</td>
  <td>{{ client.1.game_port }}</td>
</tr>

{% endfor %}
</table>

{% endblock %}
