{% extends "thunderdome/base.html" %}
{% load staticfiles %}

{% block title %}
Scoreboard
{% endblock %}

{% block head %}
<script src="" type="text/css"/>
<!-- <script src="" type="text/css"/> -->
<!-- <script src="" type="text/css"/> -->
<!-- <script src="" type="text/css"/> -->
{% endblock %}

{% block content %}
<h1>Scoreboard</h1>
<div id="scoreboard-container">
  <table id="scoreboard" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Client Name</th>
        <th>Score</th>
        <th>Sum of Opponents' Scores</th>
        <th>Sum of Opponents' Ratings</th>
        <th>Number of Times Plyaed as Black</th>
      </tr>
    </thead>
  </table>
</div>
{% endblock %}

{% block script %}
<script src="{% script 'js/jquery-3.1.1.slim.min.js' %}" type="text/javascript"/>
<script src="{% script 'js/datatables.min.js' %}" type="text/javascript"/>
<script src="{% script 'js/scoreboard.js' %}" type="text/javascript"/>
{% endblock %}
