{% extends "thunderdome/base.html" %}
{% load url from future %}


{% block title %}
ACM SIG-Game MegaMiner Arena Scores
{% endblock %}

{% block content %}

<style>
table, th, td {
  padding: 3px;
}
</style>

<h1>Rankings</h1>

<table id="clients_table" border="2" style="width:100%">
<font color="white"><tr><td></font><b>Rank</b></td><td><b>Client Name</b></td><td><b>Score</b></td><td><b>Sum of Opponents' Scores</b></td><td><b>Sum of Opponents' Ratings</b></td><td><b>Number of Times Played as Black</b></td></tr>

{% for client in clients %}
  <tr><td>{{ forloop.counter }}</td><td>{{ client.name }}</td><td>{{ client.score }}</td><td>{{ client.buchholz }}</td><<td>{{ client.sumrate }}</td><<td>{{ client.num_black }}</td><</tr>
{% endfor %}
</table>
<head>
<meta http-equiv="refresh" content="5">
</head>
{% endblock %}
