{% extends "thunderdome/base.html" %}
{% load url from future %}

{% block title %}
ACM SIG-Game MegaMiner Arena (Thunderdome)
{% endblock %}

{% block content %}
<h1><a href="{% url 'thunderdome.views.mmai_scoreboard' %}">Rankings Scoreboard</a></h1>
<p>This scoreboard shows the overall rankings in the arena.</p>

<h1><a href="{% url 'thunderdome.views.scoreboard' %}">Chess Scoreboard</a></h1>
<p>This scoreboard shows the rankings during the chess tournament. This scoreboard is only valid during a chess tournament.</p>

{% endblock %}
