{% extends "thunderdome/base.html" %}

{% block title %}
Game #{{ game.pk }}
{% endblock %}

{% block content %}
  <h1>Game #{{ game.pk }}
    {% for client in game.clients.all %}
    - {{ client.name }}
    {% endfor %}
  </h1>

  Status: {{ game.status }} <br>
  Priority: {{ game.priority }} <br>
  Interestingness: {{ game.score }} <br>
  {% if game.gamelog_url|length > 0 %}
    <a href="{{game.gamelog_url }}" > gamelog </a><br>
  {% endif %}
  {% for name, value in game.get_fields %}
  {% if value and name != 'score' and name != 'id' and name != 'winner' and name != 'loser' and name != 'status' and name != 'priority' and name != 'gamelog_url' and name != 'visualized' and name != 'discon_happened'%}
    {{ name }} : {{ value }} <br>
  {% endif %}
  {% endfor %}
  <hr>
  {% for data in game.gamedata_set.all %}
  {{ data.client.name }} - {{ data.client.current_version }}<br>
  Compiled: {{ data.compiled }}<br>
  Won: {{ data.won }}
  Version: {{ data.version }}<br>
  {{ data.stats }}
  <hr>
  {% endfor %}
{% endblock %}
