{% extends "thunderdome/base.html" %}

{% block title %}
Game #{{ game.pk }}
{% endblock %}

{% block content %}
  <h1>Game #{{ game.pk }}
    {% for client in game.clients.all %}
    - {{ client.name }}
    {% endfor %}
  </h1>

  Status: {{ game.status }} <br>
  Priority: {{ game.priority }} <br>
  {% if game.gamelog_url|length > 0 %}
    <a href="{{game.gamelog_url }}" > gamelog </a>
  {% endif %}
  {{ game.stats }}
  {% for key, value in game.stats.iteritems %}
    {{ key }}: {{ value }} <br>
  {% endfor %}
  <hr>
  {% for data in game.gamedata_set.all %}
  {{ data.client.name }} - {{ data.client.current_version }}<br>
  Compiled: {{ data.compiled }}<br>
  Won: {{ data.won }}
  Version: {{ data.version }}<br>
  {{ data.stats }}
  <hr>
  {% endfor %}
{% endblock %}
